@font-face {
  font-family: "SEGA";
  src: local("SEGA"),
   url("../src/fonts/SEGA.TTF") format("truetype");
  font-weight: bold;
 }


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: rgb(36,38,229);
  background: linear-gradient(138deg, rgba(36,38,229,1) 0%, rgba(60,33,140,0.6824034375694177) 35%, rgba(221,21,190,0.49785408134624165) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
